<div class="nav">
      <ul>
        <a class="logo" href="index.html"></a>
        <div class="textLogo">
          <h2>
            Salud y bienestar <br />
            digital
          </h2>
        </div>
        <div class="options">

          <li class="option">
            <a class="module" href="index.html"
              >Home</i
            ></a>
          </li>

          <li class="option">
            <a class="module" data-module="1"
              >Entiende el juego </i
            ></a>
          </li>
          <li class="option">
            <a class="module" data-module="2"
              >Modo monje </i
            ></a>
          </li>
          <li class="option">
            <a class="module" data-module="3"
              >Cuida tu cuerpo </a>
          </li>
          <li class="option">
            <a class="module" data-module="4">Blindaje </a>
          </li>
          <li class="option">
            <a class="module" data-module="5">JOMO </i></a>
          </li>
        </div>
      </ul>
    </div>