<div>
  <div class="mixImage">
    <img
      src="https://pymstatic.com/128730/conversions/joy-of-missing-out-wide_webp.webp"
      alt="Imagen"
      class="initialImage"
    />
    <div class="imgeText">
      JOMO 
    </div>
  </div>
  <div id="sections"></div>
  <div class="centralText" style="text-align: center">
    <div style="font-size: 40px">Te puede interesar</div>
  </div>
  <div class="cards">
    <div id="Cards" class="cards-list"></div>
  </div>
 
</div>
<script src="../scripts/JOMO/index.js"></script>