<link rel="stylesheet" href="../styles/contador.css" />
<div>
  <div id="sections"></div>

  <div id="contador" class="dvcontdador">
    <div style="font-size: 50px;margin-top: 200px">
      ¿Puedes concentrarte hasta que el contador llegue a cero?
    </div>

    <div style="font-size: 30px">
      Probablemente sientas el impulso de cambiar de pestaña o revisar tu
      celular antes de que termine
    </div>
    <div id="counter" class="counter">
      <span id="count">47</span>
    </div>

    <div style="height: 200px"></div>
  </div>

  <div class="centralText" style="text-align: center">
    <div style="font-size: 40px; margin-top: 80px;">Técnicas para poner en practica</div>
  </div>

  <div class="cards">
    <div id="Cards" class="cards-list"></div>
  </div>

</div>
<script src="./scripts/ModoMonje/index.js"></script>
