<div class="footer-container">
  <div class="footer-section">
    <h3>
      Salud y bienestar <br />
      digital
    </h3>
    <p>Hecho para que disfrutes tu vida digital.</p>
  </div>

  <div class="footer-section">
    <h4>Enlaces</h4>

    <a href="#">Facebook</a><br />
    <a href="#">Instagram</a>
  </div>

  <div class="footer-section">
    <h4>Contacto</h4>
    <p>Email: contacto@misitio.com</p>
    <p>Tel: +57 300 000 0000</p>
  </div>
</div>

<div class="footer-bottom">
  <p>© 2026 Recurso Educativo Universitario - Todos los derechos reservados</p>
</div>
