<link rel="stylesheet" href="../../styles/section.css" />


<div id="section" class="section-grid">
    <div class="section-contenido">
        <h1 class="section-title">Título de la Sección</h2>
        <p class="section-description">
            
        </p>
    </div>

    <div class="section-imagen">
        <img src="" alt="imagen" class="section-img">
    </div>

     <div class="centralText" style="display: none;">
        <div class="initialtext section-frase">

        </div>
      </div>
</div>
