
<link rel="stylesheet" href="../../styles/slider.css" />
<div class="slider">
    <div class="slides">

        <div class="slide">
            <img src="https://picsum.photos/id/1015/800/400">
            <div class="slide-text">
                <h2 class="slide-title">Título 1</h2>
                <p class="slide-desc">Descripción del slide 1</p>
            </div>
        </div>

        <div class="slide">
            <img src="https://picsum.photos/id/1016/800/400">
            <div class="slide-text">
                <h2 class="slide-title">Título 2</h2>
                <p class="slide-desc">Descripción del slide 2</p>
            </div>
        </div>

        <div class="slide">
            <img src="https://picsum.photos/id/1018/800/400">
            <div class="slide-text">
                <h2 class="slide-title">Título 3</h2>
                <p class="slide-desc">Descripción del slide 3</p>
            </div>
        </div>

    </div>

    <button class="prev">❮</button>
    <button class="next">❯</button>
</div>