body,
html {
  margin: 0;
  padding: 0;
  /* font-family: "Alegreya Sans SC", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}

.cards-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  /* grid-template-columns: repeat(3, 400px); */
  grid-auto-flow: column;
  /* gap: 100px; */
}
 
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.initialImage {
  width: 100%;
  display: block;
  transform: scaleX(-1);
  margin-top: -100px;
}

.mixImage {
  height: 500px;
  overflow: hidden;
}

.imgeText {
  position: absolute;
  top: 250px;
  left: 50px;
  color: white;
  font-size: 50px;
}

.centralText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.initialtext {
  font-size: 40px;
  text-align: center;
  margin: 100px;
  margin-top: 300px;
  color: #c19beb;
}



@media screen and (max-width: 1500px) {
  .imgeText {
    top: 250px;
    left: 20px;
    font-size: 40px;
  }
 
  .cards-list {
    grid-template-columns: repeat(2, 400px);
    grid-auto-flow: unset;
    gap: 20px;
  }

}

@media screen and (max-width: 700px) {
  .imgeText {
    top: 150px;
    left: 10px;
    font-size: 30px;
  }

    .cards-list {
    grid-template-columns: repeat(1, 400px);
    grid-auto-flow: unset;
  }
}
