.section {
  padding: 1px;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin: 200px;
}

.section-title {
  margin: 0 0 20px;
}

.section-description {
  margin: 0;
  font-size: 20px;
}

.section-imagen img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.centralText {
  grid-column: 1 / 3;
}

@media (max-width: 768px) {
  .section-grid {
    grid-template-columns: 1fr;
  }
}
